# Python
__pycache__/
*.py[cod]

# Data files
/data/*.txt
/output/*.xlsx
/logs/*.log

# macOS
.DS_Store

# Keep .gitkeep files
!data/.gitkeep
!output/.gitkeep
!logs/.gitkeep

# Docker
.docker
# env
.env